.hero {
    margin-top: -90px;
    background: linear-gradient(224.72deg, #3023AE -1%, #C86DD7 100.5%);
    height: 768px;
    width: 100%;


    .row {
        padding-left: 135px
    }

    &__titel {
        padding-top: 228px;
        height: 144px;
        font-family: Poppins;

        font-weight: bold;
        font-size: 72px;
        line-height: 72px;
        color: $color-white;
    }

    &__text {

        margin-top: 28px;
        font-family: Source Sans Pro;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        color: $color-white;
    }

    &__link {

        margin-top: 28px;
        height: 48px;
        width: 170px;
        font-family: Source Sans Pro;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        color: $color-white;
        background: #FFC300;
        border-radius: 24px;
        font-size: 16px;
        line-height: 45px;
    }

    &__image {
        margin-left: 95px;
        margin-top: 223px;
    }
.social{
     margin-left: 500px;
     display: flex;
     margin-top: -300px;
     &__item {
           padding-left: 10px;
     }
}

}