.hero {
    margin-top: -90px;
    background: linear-gradient(224.72deg, #3023AE -1%, #C86DD7 100.5%);
    color: $color-white;
    padding-bottom: 50px;
    &__left {
        padding-top: 228px;
    }
    &__titel {
        font-weight: bold;
        font-size: 72px;
        line-height: 72px;
    }
    &__text {
        margin-top: 28px;
        font-family: Source Sans Pro;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        color: $color-white;
    }
    &__link {
        margin-top: 28px;
        height: 48px;
        width: 170px;
        font-family: Source Sans Pro;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        color: $color-white;
        background: #FFC300;
        border-radius: 24px;
        font-size: 16px;
        line-height: 45px;
    }
    &__image {
        margin-left: 95px;
        margin-top: 223px;
        margin-bottom: -279px;
    }
    &__img1{
        margin-top: 20px;
    }
.social{
    display: flex;
    justify-content: flex-end;
     &__item {
           padding-left: 10px;
     }
    }

}