.header {
    margin-top: 35px;

    .container {
        align-items: center;
        display: flex;
        justify-content: space-around;
    }


    .logo {
       padding-left: 60px;
        font-style: normal;
        font-weight: bold;
        font-size: 40px;
        line-height: 48px;
    }

    .nav-top__list {
        display: flex;
    }

    .nav__link {
        margin-left: 65px;
        display: flex;
        justify-content: space-around;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        color: $color-white;
    }

    .phone__btn {
        @include font(16px,400);
        background: linear-gradient(224.72deg, #3023AE 40%, #C86DD7 100.5%);
        margin-left: 75px;
        border-radius: 40px;
        border: none;
        outline: none;
        height: 48px;
        width: 170px;
        left: 1135px;
        top: 32px;
        font-weight: bold;
        text-align: center;
        color: $color-white;
    }
}